.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top:5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:  rgb(17, 66, 40);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-size: 0.75rem;
}

table {

  margin: 10%;
}
th {
  border-color: #282c34;
  border-width: 2px;
  border-style: outset;
  margin: 10%;
}
tr{
  padding: 3%;
}
 tbody {
  border-color: #282c3465;
  border-width: 2px;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-style: outset;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }

  .flex-grid-thirds  .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}




* {
  box-sizing: border-box;
}

.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: salmon;
}

button {
  background-color: transparent;
  color:#282c34
}
button::after {
  background-color: transparent;
  color:#282c34
}