.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }

  .flex-grid-thirds  .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}




* {
  box-sizing: border-box;
}

.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: salmon;
}

button {
  background-color: #193368;
margin: 5%;
  display: flex;
 border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: white;
}